<template>
  <div id="output"></div>
  <div id="output2"></div>
</template>

<script setup>
import { onMounted, defineProps } from "vue";

const props = defineProps({
  data: {
    type: Array,
    default: [
      { color: "blue1", shape: "circle" },
      { color: "red1", shape: "triangle" },
    ],
  },
  rows: {
    type: Array,
    default: ["color"],
  },
  cols: {
    type: Array,
    default: ["shape"],
  },
});
onMounted(() => {
  const tpl = $.pivotUtilities.aggregatorTemplates;
  $(function () {
    const derivers = $.pivotUtilities.derivers;
    const renderers = $.extend(
      $.pivotUtilities.renderers,
      $.pivotUtilities.plotly_renderers,
      $.pivotUtilities.c3_renderers
    );
    const config = {
      rows: props.rows,
      cols: props.cols,
      rendererName: "HeatMap",
      // localeStrings: "zh",
      derivers: derivers,
    };
    $("#output").pivotUI(props.data, config);
    $("#output2").pivotUI(props.data, {
      rows: props.rows,
      cols: props.cols,
      // showUI: false,
      rendererName: "堆叠图",
    });
  });
  $("#output2").hide(); //默认隐藏起来
  setTimeout(() => {
    //然后通过监听来更改页面
    $("#output .pvtRenderer").change(() => {
      console.log($("#output .pvtRenderer").val(), "======>");
      $("#output2").append("<tr>");
      if ($("#output .pvtRenderer").val() === "热力图和堆叠图")
        $("#output2").show();
      else $("#output2").hide();
    });
  }, 500);
});
</script>
<style>
::v-deep .pvtUiCell {
  border: 1px solid #a2b1c6;
}

::v-deep .pvtRendererArea {
  border: 1px solid #a2b1c6;
}
</style>
